<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      .PageNavigation {
        font-size: 14px;
        display: block;
        width: auto;
        overflow: hidden;
      }

      .PageNavigation a {
        display: block;
        width: 50%;
        float: left;
        margin: 1em 0;
      }

      .PageNavigation .next {
        text-align: right;
      }
    </style>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {% if page.collection %}
        {% assign posts = site[page.collection] | sort: 'order' %}

        {% for post in posts %}
          {% if post.order == page.order %}
            {% assign prevIndex = forloop.index0 | minus: 1 %}
            {% assign myIndex = forloop.index0 %}
            {% assign nextIndex = forloop.index0 | plus: 1 %}
            <div>
              {{posts[prevIndex].title}} {{posts[myIndex].title}} {{posts[nextIndex].title}}
            </div>
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <div>
        {{prevIndex}} {{myIndex}} {{nextIndex}} {{posts.length}}
      </div>

      {% if page.collection %}
      <div class="PageNavigation">
          {% if prevIndex >= 0 %}
          <a class="prev" href="{{posts[prevIndex].url | relative_url}}">&laquo; {{prevIndex}}  {{posts[prevIndex].order}} {{posts[prevIndex].title}}</a>
          {% endif %}

          {% if nextIndex < posts.size %}
          <a class="next" href="{{posts[nextIndex].url | relative_url}}">{{nextIndex}} {{posts[nextIndex].order}} {{posts[nextIndex].title}} &raquo;</a>
          {% endif %}
      </div>
      {% endif %}

      {{ content }}

      {% if page.collection %}
      <div class="PageNavigation">
          {% if prevIndex >= 0 %}
          <a class="prev" href="{{posts[prevIndex].url | relative_url}}">&laquo; {{prevIndex}}  {{posts[prevIndex].order}} {{posts[prevIndex].title}}</a>
          {% endif %}

          {% if nextIndex < posts.size %}
          <a class="next" href="{{posts[nextIndex].url | relative_url}}">{{nextIndex}} {{posts[nextIndex].order}} {{posts[nextIndex].title}} &raquo;</a>
          {% endif %}
      </div>
      {% endif %}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
